@model IEnumerable<ClothKai.Entities.Product>
@{
    ViewBag.Title = "TableProduct";
}

<h2 class="mb-2">List of Products</h2>
<div class="mb-2">
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <input name="s" id="s" placeholder="Search..." class="form-control" />
            </div>
            <div class="col-md-4">
                <button type="button" id="btnSearch" class="col-md-6">Search</button>
                <button type="button" id="btnNew" class="col-md-5">New</button>
            </div>
        </div>
    </form>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        @if (item.Category != null)
                        {
                            <text>@item.Category.Name</text>
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </td>
                    <td>@item.Price</td>
                    <td>
                        <button type="button" class="btnEdit" data-id="@item.ID">Edit</button>
                        <button type="button" class="btnDelete" data-id="@item.ID">Delete</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" style="color:red">No data</td>
            </tr>
        }

    </tbody>
</table>
<script type="text/javascript">
    $('#btnSearch').click(function () {
        var s = $('#s').val();
        $.ajax({
            url: "/Product/TableProduct",
            data: {
                s: s
            }
        })
            .done(function (response) {
                $('#tableContainer').html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error");
            });
    });
    $('#btnNew').click(function () {
        $.ajax({
            type: "GET",
            url: "/Product/Create"
        })
            .done(function (response) {
                $('#actionContainer').html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error");
            });
    });
    $(".btnEdit").click(function () {
        $.ajax({
            type: "GET",
            url: "/Product/Edit",
            data: {
                ID: $(this).attr("data-id")
            }
        })
            .done(function (response) {
                $('#actionContainer').html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error");
            });
    });
    $(".btnDelete").click(function () {
        var confirmDelete = confirm("Are you sure delete product !! ");
        if (confirmDelete) {
            $.ajax({
                type: "POST",
                url: "/Product/Delete",
                data: {
                    ID: $(this).attr("data-id")
                }
            })
                .done(function (response) {
                    $('#tableContainer').html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error");
                });
        }
    });
</script>



